﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.util.html" name="" title="max.util">max.util</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.util.PlatformUtil.html" name="" title="PlatformUtil">PlatformUtil</a>
                          </li>
                          <li>
                              <a href="max.util.PlatformUtil.PlatformType.html" name="" title="PlatformUtil.PlatformType">PlatformUtil.PlatformType</a>
                          </li>
                          <li>
                              <a href="max.util.ReflectionUtil.html" name="" title="ReflectionUtil">ReflectionUtil</a>
                          </li>
                          <li>
                              <a href="max.util.StringUtil.html" name="" title="StringUtil">StringUtil</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>